<div class="panel-header panel-header-sm">
</div>
<div id="billTypePage" class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title" *ngIf="!isUpdate">Create Bill Type</h5>
          <h5 class="title" *ngIf="isUpdate">Update Bill Type</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Bill Type</label>
                  <input type="text" class="form-control" placeholder="Bill Type" [(ngModel)]="billType.type" name="type">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button type="button" class="btn btn-info" *ngIf="!isUpdate" (click)="save()">Save</button>
                  <button type="button" class="btn btn-info" *ngIf="isUpdate" (click)="update()">Save</button>
                  <button type="button" class="btn btn-info" *ngIf="isUpdate" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Bill Type List</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th class="text-right">
                  Id
                </th>
                <th class="text-left">
                  Type
                </th>
                <th class="text-right">
                  Actions
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let billType of billTypes">
                  <td class="text-right">
                    {{billType.id}}
                  </td>
                  <td class="text-left">
                    {{billType.type}}
                  </td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit"
                      (click)="edit(billType)">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Delete"
                      (click)="delete(billType)">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>